<span class="h-card" style="display: none">
  <a class="u-url u-uid" href="https://gilespaterson.com/" rel="me">Giles Paterson</a>
  <img class="u-photo" loading="lazy" decoding="async" src="/photos/Giles_Paterson.jpg" alt="Giles Paterson"  width="200"  height="200" />
  <span class="p-org">Fruugo</span>
  <span class="p-job-title">Head of Architecture</span>
  <span class="p-role">I'm trying to make sure we build the right things, the best way we can</span>
  <span class="p-country-name">United Kingdom</span>
  <span class="p-category">Software Engineer</span>
  <span class="p-note">
    Hi, I'm Giles Paterson. I'm a software engineer by trade, with many diverse interests and hobbies, always changing.
  </span>
</span>
